<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.demo.NotePad">

    <uses-permission android:name="android.permission.CAMERA"/>
    <!--这个配置是让有相机功能的设备，在GooglePlay上才能看到自己发布的app, 这个过时了....-->
    <!--<uses-feature android:name="android.hardware.camera2"/>-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".activity.CrimeListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.CrimePagerActivity"
                  android:label="@string/app_name">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".activity.CrimeListActivity">

            </meta-data>
        </activity>
        <!--screenOrientation  这个是保证屏幕不会旋转！！-->
        <activity android:name=".activity.CrimeCameraActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"/>
    </application>

</manifest>